@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1.5rem;
  font-family: 'Nunito', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

main {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top:20px;
  margin-bottom:3rem;
  
}

div {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  display: grid;
  place-content: center;
}
div:first-child{
    background-color: dodgerblue;
    /* transform: translateX(50%);
    transform: rotateX(45deg) */
    /* transform: scale(75%) */
    /* transform: skewX(10deg); */
}
div:nth-child(2){
    background-color: yellow;
    /* transform: translateY(2rem);
    transform:rotateY(180deg) */
    /* transform: scaleX(0.7) scaleY(1.2); */
    /* transform: skewY(-10deg); */
}
div:last-child{
    background-color: limegreen;
    /* transform: translate(100%,2rem);
    transform: rotateZ(145deg) */
    /* transform: scale(0.5,0.5) */
    /* transform: skew(10deg , -10deg); */
}
div:hover{
    background-color: midnightblue;
    transition-property: background-color,transform;
    /* transition-duration:2s,3s;
    transition-delay: 0.5s;
    transition-timing-function:cubic-bezier(1, 0, 0, 1); */
    transition:all 2s linear 0.5s;
}
div:last-child:hover{
    transform: rotate(180deg );

}
.animate{
    /* animation-name: slide;
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    animation-delay: 2s;
    animation-iteration-count: paused;
    animation-direction: alternate;
    animation-fill-mode: forwards; */
    animation: ease-in 5s slide 2s 5 forwards alternate;
    
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }

  33% {
    transform: translateX(300px) rotate(180deg);
  }

  66% {
    transform: translateX(-300px) rotate(-180deg);
  }

  100% {
    transform: translateX(0);
    background-color: rebeccapurple;
  }
}