body{
    font-size: 22px;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: papayawhip;
    /* color: blue; */
    /* color:black; */
    color: rgb(0,0,255);
}
P{
    color: #000000;
}