@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0.5;
  text-align: center;
  margin:0;
  background-color: blue;
  
}
li{
    display:inline-block;
    margin-inline:0.5rem;

}
li a{
    color:whitesmoke;
    text-decoration: none;
    
}
