@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}
.block{
  width: 30vw;
  height: 20vw;
  color: aliceblue;
  background: #000;
  padding: 2rem;
}
.left{
  float: left;
  margin-right: 1rem;
}
.right{
  float: right;
  margin-left: 1rem;
}
p{
  text-align: justify;
  hyphens: auto;
  max-width: 60ch;
}
.clear{
  clear: both;
}
section{
background-color: bisque;
border: 1px solid #333;
padding: 1rem;
/* overflow: auto; */
display: flow-root;
}
