@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
/* begin reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
    display: block;
}
/* end reset */ 
/* Utility Classes */
.nowrap{
    white-space: nowrap;
}
.offscreen{
    position:absolute;
    left:-20000px;
}
/* End utility classes */

body {
  font-family: "Nunito", sans-serif;
  min-height: 100vh;
}
.hero{
    border-bottom:2px solid #000 ;
    padding: 20px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap:30px;

background-color: rgb(251,210,156);
background-image: url('/Img/map-2176x1451.png');
background-repeat: repeat;
background-blend-mode:darken;
background-size: cover;

}
.h1{
    font-size:500%;
    color: #fff;
    text-shadow: 2px 2px 5px #000;
    
}

.profile-pic-figure{
    width:35%;
}
.profile-pic-figure img{
width:100%;
height: auto;
min-width: 100px;
border: 5px double gray;
border-radius: 50%;
}  

.example{
    margin-top: 1rem;
    padding-left: 20px;
    border: 1px solid red;
    
}
.example img{
    width: 25%;
    height: auto;
}



