@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || GENERAL STYLES */
body {
  font: 1.5rem "Nunito", sans-serif;
  min-height: 100vh;
  background-color: #477569;
  background-image: radial-gradient(whitesmoke,#477569);
  display: flex;
  flex-direction: column;
}
header,nav,main,footer{
    display:grid;
    place-content:center;
    grid-template-columns: 100%;
    text-align: center;
}
header,footer{
    position:sticky;
    background-color: #1e293b;
    color:whitesmoke;
}
header{
    top:0;
}
nav{
    background-color: white;
    color:black;
    padding:0.5;
    border-bottom: 2px solid #000;
}
main{
    flex-grow: 1;;
}
footer{
    bottom:0;
}
/* || SMALL */
@media screen and (min-width:576px){
   body{
    background-color: green;
    background-image: radial-gradient(whitesmoke,green);
   } 
   nav{
    display: none;
   }
}