@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0.5rem;
  font-family: Roboto, sans-serif;
  text-align: center;
}
nav {
  line-height: 5rem;
  border: 2px #333 solid;
  border-radius: 2rem;
  margin: 0 auto 1rem;
  font-size: 3rem;
  max-width: 600px;
}
h2 {
  padding: 0.8rem;
  background-color: gold;
  border-radius: 2rem 2rem 0 0;
}
ul {
  list-style-type: none;
}
li {
  border-top: 0.1px solid #dad8d8;
}
li a {
  display: block;
}
li a,
li a:visited {
  text-decoration: none;
  color: #333;
}
li a:hover,
li a:focus {
  background-color: #333;
  color: whitesmoke;
}
li:last-child a{
  border-radius: 0 0 2rem 2rem;
 
}
