h1{
    border: 2px dashed red;
    width: 50%;
    font-size: 3rem;
    padding: 0.5em;
    }

    main{
        font-size: 2rem;

    }

    p{
        font-size: 2 rem;
        padding:3em;
        width: 40ch;
    }