@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* VARIABLES */
:root{
/* FONT */
  --FF: "Nunito", sans-serif;
  --FS: 1.5rem;
  --FS-XL: 3rem;

  /* COLOR */
  --BGCOLOR: #475569;
  --ALT-BGCOLOR: #1E293B;
  --RADIAL-COLOR: whitesmoke;
  --LIGHT-COLOR: whitesmoke;
  --DARK-COLOR: #000;

  /* SQUARE */
  --SQUARE-BGCOLOR: papayawhip;
  --SQUARE-SIZE: max(150px, 20vw);

  /* GENERAL */
  --PADDING: 0.5rem;
  --SHADOWS: 0 6px 5px -5px var(--DARK-COLOR);
  --BORDERS: 2px solid var(--DARK-COLOR);
}
/* @media (prefers-colors-scheme: dark){
    :root{
        --BGCOLOR: #333;
        --ALT-BCGOLOR: BLACK;
        --RADIO-COLOR: rgb(216, 216, 216);
        --SQUARE-BGCOLOR:rgb(211, 37, 211);
    }
} */

/* || GENERAL STYLES */
body {
  font: 1.5rem var(--FF);
  min-height: 100vh;

  background-color:var(--BGCOLOR);
  background-image: radial-gradient(whitesmoke, var(--BGCOLOR));
  display: flex;
  flex-direction: column;
}

header,
nav,
footer {
  display: grid;
  place-content: center;
  grid-template-columns: 100%;
  text-align: center;
}

header,
footer {
  position: sticky;
  background-color:var(--ALT-BGCOLOR);
  color: whitesmoke;
}

header {
  top: 0;
}

nav {
  background-color: #fff;
  color: #000;
  padding: 0.5rem;
  border-bottom: 2px solid #000;
  box-shadow: 0 6px 5px -5px whitesmoke;  /*( xvalue yvalue blur value and spread value)*/
  }

main {
  flex-grow: 1;

  padding: 10px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: min(4vw,15px)
}

footer {
  bottom: 0;
}
.square--highlight{
    --SQUARE-BGCOLOR: cornflowerblue;
}
.square{
    background-color: var(--SQUARE-BGCOLOR);
    width: var(--SQUARE-SIZE);
    height: var(--SQUARE-SIZE);
    border: var(--BORDERS);
    border-radius: 15px;
    display: grid;
    place-content: center;
    font-size: var(--FS-XL);
    box-shadow: var(--SHADOWS);
}